@import '../../../../vendor/nehalpatel/filament-compact-theme/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/andreia/filament-ui-switcher';


.fi-body {
    @apply dark:bg-black;
}

.fi-sidebar,
.fi-topbar {
    @apply dark:bg-black;
}

.fi-sidebar-nav {
    scrollbar-width: none;
    scrollbar-gutter: auto;
}

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-topbar-database-notifications-btn .fi-badge {
    @apply bg-red-600 text-white dark:bg-red-500 dark:text-white;
}

.fi-ta-ctn,
.fi-section:not(.fi-section-not-contained):not(.fi-aside),
.fi-wi-stats-overview-stat {
    @apply dark:bg-black;
}
